# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Cache
.cache/

# Environment Variables
.env

# Python Build Files
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/